<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial - FirstPage</title>
    <link rel="stylesheet" href="css/Style.css" />
</head>

<body class="home">
    <div class="top">
        <h1>Bem-vindo a minha First-Page!</h1>

        <p>Hello_World.</p>
        <a href="info">Clique aqui para ir para a pagina de Informações sobre a pagina</a>
        <a href="tutorial">Clique aqui para a pagina com tutorial de como criar um projeto <strong>SpringBoot</strong> como esse </a>
        <p>Este é um projeto Spring Boot com Thymeleaf.</p>
        
    </div>
    <div class="flex-container">
        <div class="flex-item">
            <p>Elto</p>
            <img src="images/elto-removebg-preview.png" alt="" height="300px" width="300px" />
        </div>
        <div class="flex-item">
            <p>kassio</p>
            <img src="images/kassi-removebg-preview.png" alt="" height="300px" width="300px" />
        </div>
        <div class="flex-item">
            <p>JP</p>
            <img src="images/jp-removebg-preview.png" alt="" height="300px" width="300px" />
        </div>
    </div>
    <footer>
        <p>&copy; eltobrgs</p>
    </footer>
</body>

</html>