<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial de Spring Boot</title>
    <link rel="stylesheet" href="css/Style.css">
</head>

<body class="tuto">
    <header>

        <h1>Como Criar um Projeto Spring Boot</h1>
        <p>Um guia passo a passo para criar um projeto Spring Boot com as principais bibliotecas</p>
    </header>
    <div class="botoes">
        <a href="home">Clique aqui para voltar para pagina Home</a>
        <a href="info">Clique aqui para ir para a pagina de Informações sobre a pagina</a>
    </div>

    <main>
        <section>
            <video src=""></video>
        </section>

        <section>
            <h2>Passo 1: Configurando o Ambiente</h2>
            <p>Instale o Java e o Maven para preparar seu ambiente de desenvolvimento.</p>
            <ul>
                <li>Baixe e instale o JDK mais recente.</li>
                <li>Configure o Maven no seu sistema.</li>
            </ul>
        </section>

        <section>
            <h2>Passo 2: Criando o Projeto</h2>
            <p>Use o Spring Initializr para gerar um projeto Spring Boot com as dependências básicas.</p>
            <pre><code>https://start.spring.io/</code></pre>
        </section>

        <section>
            <h2>Passo 3: Adicionando Dependências</h2>
            <p>Inclua as seguintes bibliotecas no arquivo <code>pom.xml</code> para funcionalidades adicionais:</p>
            <ul>
                <li>Spring Web</li>
                <li>Spring Data JPA</li>
                <li>Thymeleaf</li>
                <li>Spring Boot DevTools</li>
            </ul>
        </section>

        <section>
            <h2>Passo 4: Estruturando o Projeto</h2>
            <p>Crie pacotes para organização do código, como <code>controllers</code> o qual estamos usando para
                retornar as paginas, <code>services</code>, e <code>repositories</code>.</p>
        </section>

        <section class="w-img">
            <h2>Estrutura Completa do Projeto</h2>
            <img src="images/HELP.png" alt="">
        </section>
        
    </main>
    <footer>
        <p>&copy; eltobrgs</p>
    </footer>
</body>

</html>